<html>
	<head>
		<title>Open Emails - Make Emails Public</title>
		<link href="//fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700,400italic,700italic" rel="stylesheet" type="text/css">
		<link rel="stylesheet" src="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.min.css" />
		<style>
			body {
				background: #ede8c0;
				font-family: 'Averia Serif Libre', serif;
				font-size: 18px;
				padding: 10px;
			}
			h1 {
				float: left;
				max-width: 200px;
				padding: 0 40px 0 20px;
				font-size: 40px;
			}
			h1 span {
				display: block;
			}
			h1 .open {
				font-size: 55px;
			}
			.info {
				padding-top: 45px;
				padding-bottom: 10px;
				border-bottom: 1px solid #ccc7a7;
			}
			.info p {
				margin: 2px 0;
			}
			article {
				float: left;
				max-width: 600px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<h1>
				<span class="open">Open</span>
				<span class="emails">Emails</span>
			</h1>
			<article>
				<div class="info">
					<p>
						<strong>To:</strong>
						You
					</p>
					<p>
						<strong>From:</strong>
						Nick Quinlan &lt;nick@sendgrid.com&gt;
					</p>
					<p>
						<strong>Date:</strong>
						Sat, 13 Mar 2010 11:29:05 -0800
					</p>
				</div>
				<div class="email">
					<p>Open Emails is an app to demonstrate how SendGrid works with Engine Yard.</p>
					<p>The app recieves emails, and turns them into web pages, making them public.</p>
					<p>To use it add <a href="mailto:public@openemails.com">public@openemails.com</a> as a recipient on any email you want to make public. You'll get a reply with the public link.</p>
				</div>
			</article>
		</div>
	</body>
</html>